body{
	background: rgb(209,159,106);
}

a{
	color: rgba(255,255,255,0.8);
	text-decoration: none;
}

a:hover{
	background-color: rgb(170,130,86);
}

h4:hover{
	background-color: rgb(170,130,86);
}

h1{
	font-family: 'Francois One', sans-serif;
	color: rgb(255,255,255);	
}

h2{
	font-family: 'Francois One', sans-serif;
	color: rgba(255,255,255,1);
}

h3{
	font-family: 'Francois One', sans-serif;
	color: rgba(255,255,255,1);
}

p{
	font-family: 'Open Sans', sans-serif;
	color: ivory;
}

div{
	display: block;
}



@media (min-width: 500px) {
  html {
    font-size: 0.6em;
  }
}
@media (min-width: 800px) {
  html {
    font-size: 0.75em;
  }
}
@media (min-width: 1000px) {
  html {
    font-size: 0.8em;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 1em;
  }
}
.mtop{
	position: fixed;
	border-bottom: solid;
	border-color: rgb(120,85,47);
	align-content: center;
	display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(132,98,70);
}

.bmtop{
	background-color: rgba(132,98,70,0.5);
    margin: 0 auto;
    display: table;
    border-spacing: 10px 0px;
	border-collapse: collapse;
    position: relative;
}

.home{
	border-left: solid;
	border-right: solid;
	border-width: 100%;
	border-color: rgb(120,85,47);
	background-color: rgba(132,98,70,0.5);
	display: table-cell;
	padding-right: 10px;
	padding-left: 10px;
	height: 60px;
	font-size: 140%;
	font-family: 'Francois One', sans-serif;
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
}

.sobremim{
	border-left: solid;
	border-right: solid;
	border-width: 100%;
	border-color: rgb(120,85,47);
	background-color: rgba(132,98,70,0.5);
	display: table-cell;
	padding-left: 10px;
	padding-right: 10px;
	height: 60px;
	font-size: 140%;
	font-family: 'Francois One', sans-serif;
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
}

.projetos{
	border-left: solid;
	border-right: solid;
	border-width: 100%;
	border-color: rgb(120,85,47);
	background-color: rgba(132,98,70,0.5);
	position: relative;
	display: table-cell;
	padding-left: 10px;
	padding-right: 10px;
	height: 60px;
	font-size: 140%;
	font-family: 'Francois One', sans-serif;
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
}

.bgpadding{
	padding-top: 40px;
}

.cols{
	display: flex;
}

.col{
    width: 100%;
    margin-top: 10px;
    margin-left: 80px;
    margin-bottom: 10px;
    margin-right: 80px;

}

.col1{
    width: 70%;
    margin-top: 10px;
    margin-left: 80px;
    margin-bottom: 10px;
    margin-right: 80px;
    border-collapse: collapse;
}

.col2{
    border-left: double;
    border-color: rgb(145,102,57);
    border-width: 8px;
    width: 20%;
    padding: 10px;
    text-align: center;
}

.banner{
	margin: auto;
	width: 100%;
	height: 140px;
	text-align: center;
	font-size: 300%;
	vertical-align: middle;
	line-height: 140px;
}

.subbanner{
	margin: auto;
	width: 100%;
	height: 100px;
	text-align: center;
	font-size: 200%;
	vertical-align: middle;
	line-height: 100px;
}

.bvolta{
	border: solid;
	border-width: 100%;
	border-color: rgb(120,85,47);
	background-color: rgb(132,98,70);
	display: inline-block;
	height: 40px;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 120%;
	font-family: 'Francois One', sans-serif;
	line-height: 40px;
	text-align: center;
}

.bproj{
	margin: auto;
	width: 100%;
	height: 140px;
	text-align: center;
	vertical-align: middle;
	line-height: 140px; 
	display: block;
	background-color: rgb(170,130,86);
	font-size: 200%;
	font-family: Francois One, sans-serif;
	border: solid;
	margin-top: 4px;
	border-color: rgb(145,102,57);
}

.ad{
	margin: auto;
	width: 100%;
	display: block;
	line-height: 60px;
}

.fotoeu{
	float: left;
	width: 30%;
	margin-top: 10px;
	margin-right: 5%;
}

.nome{
	text-align: center;
	font-size: 30px;
}