body{
	background: rgb(209,159,106);
}

a{
	color: rgba(255,255,255,0.8);
	text-decoration: none;
}

h1{
	font-family: Georgia;
	color: rgb(255,255,255);	
}

h2{
	font-family: Georgia;
	color: rgba(255,255,255,1);
}

p{
	font-family: Helvetica;
}

div{
	display: block;
}

@media (min-width: 500px) {
  html {
    font-size: 0.6em;
  }
}
@media (min-width: 800px) {
  html {
    font-size: 0.75em;
  }
}
@media (min-width: 1000px) {
  html {
    font-size: 0.8em;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 1em;
  }
}
.mtop{
	position: fixed;
	border-bottom: solid;
	border-color: rgb(120,85,47);
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(170,130,86);
}

.bmtop{
	background-color: rgb(170,130,86);
    margin: 0 auto;
    display: flex;
    margin-top: 10px;
    margin-left: 25%;
    margin-right: 25%;
    position: relative;
}

.home{
	border-left: solid;
	border-right: solid;
	border-width: 100%;
	border-color: rgb(120,85,47);
	background-color: rgb(170,130,86);
	margin-left: 5px;
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	height: 40px;
	font-size: 140%;
	font-family: Helvetica;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
}

.sobremim{
	border-left: solid;
	border-right: solid;
	border-width: 100%;
	border-color: rgb(120,85,47);
	background-color: rgb(170,130,86);
	margin-left: 5px;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	height: 40px;
	font-size: 140%;
	font-family: Helvetica;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
}

.projetos{
	border-left: solid;
	border-right: solid;
	border-width: 100%;
	border-color: rgb(120,85,47);
	background-color: rgb(170,130,86);
	margin-left: 5px;
	position: relative;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	height: 40px;
	font-size: 140%;
	font-family: Helvetica;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
}

.contato{
	border-left: solid;
	border-right: solid;
	border-width: 100%;
	border-color: rgb(120,85,47);
	background-color: rgb(170,130,86);
	margin-left: 5px;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	height: 40px;
	font-size: 140%;
	font-family: Helvetica;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
}

.tw{
	position: relative;
	display: inline-block;
	border-left: solid;
	border-right: solid;
	border-color: rgb(120,85,47);
	padding-left: 10px;
	padding-right: 10px;
	height: 40px;
	margin-left: 5px;
	font-size: 140%;
	vertical-align: middle;
	line-height: 40px;
}

.fb{
	position: relative;
	display: inline-block;
	border-left: solid;
	border-right: solid;
	border-color: rgb(120,85,47);
	padding-left: 10px;
	padding-right: 10px;
	height: 40px;
	margin-left: 5px;
	font-size: 140%;
	vertical-align: middle;
	line-height: 40px;
}

.bgpadding{
	padding-top: 40px;
}

.cols{
	display: flex;
}

.col{
    width: 100%;
    margin-top: 10px;
    margin-left: 80px;
    margin-bottom: 10px;
    margin-right: 80px;
}

.col1{
    width: 70%;
    margin-top: 10px;
    margin-left: 80px;
    margin-bottom: 10px;
    margin-right: 80px;
}

.col2{
    border-left: double;
    border-color: rgb(145,102,57);
    border-width: 8px;
    width: 20%;
    padding: 10px;
    text-align: center;
}

.bvolta{
	border: solid;
	border-width: 100%;
	border-color: rgb(120,85,47);
	background-color: rgb(170,130,86);
	display: inline-block;
	height: 40px;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 120%;
	font-family: Helvetica;
	line-height: 40px;
	text-align: center;
}